<!-- all_stock.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>All Stock</title>
</head>
<body>
    <h1>All Stock</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Spare Name</th>
                <th>Spare ID</th>
                <th>Quantity</th>
                <th>Booking</th>
            </tr>
        </thead>
        <tbody>
            {% for data in stock_data %}
                <tr>
                    <td>{{ data.spare_name }}</td>
                    <td>{{ data.spare_id }}</td>
                    <td>{{ data.qty }}</td>
                    <td>{{ data.booking }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
